.header__text {
  margin: 20px;
  text-align: center;
  min-height: 61px; }
  .header__text h1 {
    color: #fff;
    display: inline;
    font-family: 'Handlee', cursive;
    font-size: 46px;
    position: relative;
    margin: 10px 0; }
  .header__text.cursor h1:after {
    content: " ";
    display: block;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: -5px;
    width: 2px;
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate; }

.heading-link-wrapper {
  text-align: center; }

.header__links-wrapper {
  margin: 20px;
  text-align: center; }

.text-js {
  opacity: 0; }

@keyframes flash {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media only screen and (max-width: 990px) {
  .page__style:not(.home) .heading-link-wrapper,
  .page__style .heading-link-wrapper {
    display: block; }
  .page__style:not(.home) .header__text,
  .page__style:not(.home) .header__links-wrapper,
  .page__style .header__text,
  .page__style .header__links-wrapper {
    text-align: center; }
  .page__style:not(.home) .header__text,
  .page__style .header__text {
    margin: 20px 40px; }
  .page__style:not(.home) .header__links-wrapper,
  .page__style .header__links-wrapper {
    margin: 20px;
    min-width: auto; } }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Happy Monkey', cursive;
  color: #fff; }

p {
  font-family: 'Open Sans', sans-serif;
  color: #fff; }

a {
  cursor: pointer;
  text-decoration: underline;
  color: #fff; }
  a:hover {
    text-decoration: none; }

.container {
  padding: 0; }

.page__style main {
  padding: 0 15px; }

@media only screen and (max-width: 990px) {
  .page__style main {
    width: 100%;
    padding: 0 60px; } }

@media only screen and (max-width: 600px) {
  .page__style main {
    width: 100%;
    padding: 0 40px; } }

@media only screen and (max-width: 450px) {
  .page__style main {
    width: 100%;
    padding: 0 20px; } }

.hide {
  display: none; }

.page__style {
  background: #4D4D4D;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto auto; }
  .page__style.loading {
    animation: loading 2s ease; }

.page__style .btn_nav {
  background: #002a32;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 17px 25px;
  text-decoration: none;
  width: 135px;
  text-align: center; }
  .page__style .btn_nav.active {
    background: #fff;
    color: #002a32; }

.page__style a:hover {
  color: #ccc; }

.animate_content {
  animation: animate 3s ease; }

.fadeIn {
  z-index: 10; }

/*  home
-----------------------------------*/
.home {
  background: #4D4D4D; }

/*  Projects
-----------------------------------*/
.blogs,
.blogs main {
  background: #4D4D4D; }

/*  Skills
-----------------------------------*/
.work,
.work main {
  background: #4D4D4D; }

/*  About
-----------------------------------*/
.about,
.about main {
  background: #4D4D4D; }

/*  Contact
-----------------------------------*/
.contact,
.contact main {
  background: #4D4D4D; }

/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .page__description h1 {
    margin-top: 100px; } }

@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@keyframes animate {
  10% {
    transform: scale(1, 0.002); }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1; }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  85% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

@keyframes loading {
  0% {
    transform: scale(0.2, 0.002);
    opacity: 0; }
  50% {
    transform: scale(1, 0.002);
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

.home {
  padding-top: 30vh;
  text-align: center; }
  .home main {
    margin-top: 30px; }

.home-header p {
  color: #fff; }

.home-header a {
  text-decoration: underline; }
  .home-header a:hover {
    text-decoration: none; }

.blog-template__heading {
  text-decoration: underline; }

.blogs-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.blogs-list__blog {
  margin: 10px 0;
  width: 24%; }
  .blogs-list__blog a {
    height: 100%;
    padding: 10px;
    display: block;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5); }
  .blogs-list__blog img {
    margin: auto;
    width: 200px; }
  .blogs-list__blog h3 {
    text-align: left;
    color: #3a3a3a; }
  .blogs-list__blog p {
    text-align: right;
    color: #3a3a3a;
    font-size: 14px; }

.rotate-container {
  position: relative; }

.rotate-container .card-front, .rotate-container .card-back {
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s; }

.rotate-container .card-back {
  -webkit-transform: perspective(1600px) rotateY(180deg);
  transform: perspective(1600px) rotateY(180deg);
  position: absolute;
  top: 0; }

.rotate-container:hover .rotate-card-front {
  -webkit-transform: perspective(1600px) rotateY(-180deg);
  transform: perspective(1600px) rotateY(-180deg); }

.rotate-container .rotate-card-back {
  -webkit-transform: perspective(1600px) rotateY(0deg);
  transform: perspective(1600px) rotateY(0deg); }

/* Modified card styles */
.card {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: #FFF;
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: .25rem; }

.card .card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #EFEFEF;
  border-bottom: 1px solid rgba(169, 169, 169, 0.5); }

.card .card-block {
  padding: 1rem; }

.card .card-block .card-title {
  margin-bottom: 0; }

.card .card-block h4 ~ h4 {
  margin: 1rem 0 0.5rem 0; }

@media only screen and (max-width: 990px) {
  .blogs-list__blog {
    width: 49%; }
    .blogs-list__blog img {
      width: 100%; } }

@media only screen and (max-width: 500px) {
  .blogs-list__blog {
    width: 100%; } }

.experience {
  margin: 20px;
  padding: 20px;
  border-left: 1px solid black; }
  .experience .experience__item {
    margin-bottom: 50px; }
    .experience .experience__item:last-of-type {
      margin-bottom: 0; }
    .experience .experience__item p, .experience .experience__item h3 {
      margin-top: 0;
      margin-bottom: 0; }
    .experience .experience__item h3 {
      font-size: 20px; }
    .experience .experience__item p {
      font-size: 12px; }

.middle {
  position: relative; }
  .middle:before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 5px;
    left: -25px;
    top: 6px; }
