//=============
// == Colours ==
// =============

// brand colour pallet list
// ========================
$primary: #d14900;
$primary-light: #f37e31;
$primary-link: #c54500;

$secondary: #d14900;
$secondary-light: #f37e31;
$secondary-link: #c54500;

$white: #fff;
$black: #3a3a3a;
$dark-grey: #191919; 
$grey: #555555;
$mid-grey: #aaaaaa;
$light-grey: #f5f5f5;
$very-light-grey: #f5f5f5;

$text-color: $black;
$text-color-secondary: #7a7a7a;