<div data-ng-controller="blogs">
	<h1>Blogs...</h1>
	<!-- <div class="blogs-list">
		<div class="blogs-list__blog" data-ng-repeat="blog in blogs">
			<div class="rotate-container">
				<div class="card card-front">
					<p>{{blog.date}}</p>
					<img src="/img/{{blog.imgSrc}}" alt="{{blog.title}}"/>
					<h3>{{blog.title}}</h3>
				</div>
				<div class="card card-back">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in tortor gravida, pellentesque arcu a, cursus tellus. Ut pharetra volutpat arcu, id viverra lorem pellentesque vitae. Phasellus sit amet ipsum in enim rutrum sagittis.</p>
				</div>
			</a>
		</div>
	</div> -->
</div>
<!-- 
<a ng-click="openBlog(blog.blogId)">
				<p>{{blog.date}}</p>
				<img src="/img/{{blog.imgSrc}}" alt="{{blog.title}}"/>
				<h3>{{blog.title}}</h3>
			</a> -->