.home {
	padding-top: 30vh;
	text-align: center;
  main {
    margin-top: 30px;
  }
}

.home-header {
  p {
    color: $white;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}