//============
//	Header
//============
body {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Happy Monkey', cursive;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.menu {
	width: 50px;
	height: 50px;
	padding-left: 20px;
	padding-top: 20px;
	z-index: 5;
	position: absolute;
	background: transparent;
	top:0;
	left: 0;
	overflow: hidden;

	&.open {
 		animation: open 0.5s none linear;
 		width: calc(100% + 200px);
 		height: 100%;
 		background: red;

 		.menu-button__line {
 			position: absolute;
			&--top {
				transform: rotate(45deg);
  				transition: 0.55s;
			}

			&--middle {
				opacity: 0;
			}

			&--bottom {
				transform: rotate(-405deg);
		  		transition: 0.55s;
			}
		}
	}

	&.close {
		top:0;
		left: 0;
 		animation: close 0.5s none linear;
 		width: 50px;
		height: 50px;;
 		opacity: 1;
 		background: red;

 		.menu-button__line {
	 		position: absolute;

			&--top {
				transform: rotate(0deg);
  				transition: 0.55s;
			}

			&--middle {
				opacity: 1;
			}

			&--bottom {
				transform: rotate(-0deg);
		  		transition: 0.55s;
			}
		}
	}
}


@keyframes open{
  0%{
    width: 50px;
	height: 100px;
  }
  100%{
    width: calc(100% + 200px);
	height: 100%;
	background: red;
  }
}


@keyframes close{
  0%{
    width: calc(100% + 200px);
	height: 100%;
  }
  100%{
    width: 50px;
	height: 100px;
	background: transparent;
  }
}

.menu-button {
	width: 30px;
	max-width: 100%;
	
	cursor: pointer;
}

.menu-button__line {
	height: 5px;
	width: 30px;
    display: block;
    background: #fff;
    border-radius: 6px;
    margin-top: 5px;

	&--top {

	}

	&--middle {

	}

	&--bottom {

	}
}

.menu-nav {
	position: absolute;
	list-style: none;
	text-align: center;
	width: 100%;
	top: 20vh;
	li {
		margin-top: 10px;
		a {
			font-size: 36px;
			color: $white;
			font-family: 'Happy Monkey', cursive;
			text-decoration: none;
		}		
	}
}