//============
//	Header
//============

.header__text {
  margin: 20px;
  text-align: center;
	h1 {
		color: $white;
    	display: inline;
		font-family: 'Handlee', cursive;
		font-size: 46px;
    	position: relative;
		margin: 10px 0;
	}
  &.cursor h1:after {
    content: " ";
    display: block;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: -5px;
    width: 2px;
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
  }
}

.heading-link-wrapper {
  text-align: center
}

.header__links-wrapper {
	margin: 20px;
  text-align: center;
}

.text-js{
  opacity: 0;
}


@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


@media only screen and (max-width: 990px) {
	.page__style:not(.home),
	.page__style {
		.heading-link-wrapper {
			display: block;
		}

    .header__text,
    .header__links-wrapper {
      text-align: center;
    }

    .header__text {
      margin: 20px 40px;
    }
    .header__links-wrapper {
      margin: 20px;
      min-width: auto;
    }
	}
}